
  {% extends "AppBundle::layout.html.twig" %}
  {% block title %} Overview {% endblock %} 
  {% block main_content %}
  <!-- Main content -->
  <div class="main-content">
  {% include 'AppBundle:part:navbar.html.twig' ignore missing with {'title': block('title')} %}
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
{{ render(controller( 'AppBundle:App:kpi')) }}
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      {% block corps %}
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Performances individuelles (Apperçu)</h3>
                </div>
                <div class="col text-right">
                <button onclick="exportTableToExcel('summerTable', 'members-data')" class="btn btn-sm btn-primary">Exporter les performances</button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush" id="summerTable">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">SUP.</th>
                    <th scope="col">BA</th>
                    <th scope="col">PDV</th>
                    <th scope="col">JOURS</th>
                    {% for produit in produits|slice(0,4) %}
                    <th scope="col">{{produit.nom}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for performance in performances|slice(0,25) %}
                  <tr>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'user':performance.supid}) }}">
                     {{ performance.supnom|e }}
                   </a>
                    </th>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'ba':performance.baid}) }}">
                     {{ performance.banom|e }}
                     </a>
                    </th>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'pointVente':performance.pdvid}) }}">
                     {{ performance.pdvnom|e }}
                     </a>
                    </th> 
                    <th scope="row">
                       {{ performance.nombrejours }}
                    </th> 
                    {% for vente in performance.ventes|slice(0,4) %}
                    <th scope="col">{% if vente.nombre is defined %}{{vente.nombre}}{% else %}0{% endif %}</th>
                    {% endfor %}
                  </tr
                   {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="mb-0">Superviseurs</h2>
                </div>
                <div class="col text-right">
                  <a href="#" class="btn btn-sm btn-primary">Exporter les pointages</a>
                </div>                
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">BA</th>
                    <th scope="col">PDV</th>
                  </tr>
                </thead>
                <tbody>
                   {% for item in workedSuperviseur %}
                  <tr>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'user':item.id}) }}">
                       {{ item.nom|e }}</a>
                    </th>
                    <td>
                    {{ item.banumber }}
                    </td>
                    <td>
                      {{ item.pdvnumber}}
                    </td>                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="card shadow mt-3">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Comptes rendus</h3>
                </div>
                  <div class="col text-right">
                  <a href="{{ path("commendes_list") }}" class="btn btn-sm btn-primary">Consulter les rapports</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Insidents</th>
                    <th scope="col">Nombre</th>
                  </tr>
                </thead>
                <tbody>
                   {% for item in rapports %}
                  <tr>
                    <th scope="row">
                   <a href="{{ path('commendes_list_insident',{'insident':item.typeInsident}) }}"> {{ item.typeInsident|e }}</a>
                    </th>
                    <td>
                      {{ item.nombre }}
                    </td>                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>            
          </div>

          <div class="card shadow mt-3">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Par Offre</h3>
                </div>
                  <div class="col text-right">

                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Ofrre</th>
                    <th scope="col">Nombre</th>
                  </tr>
                </thead>
                <tbody>
                   {% for item in produits %}
                  <tr>
                    <th scope="row">
                   <a href="#"> {{ item.nom|e }}</a>
                    </th>
                    <td>
                      {{ item.nombre }}
                    </td>                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>            
          </div>
        </div>
      </div>

    {% endblock %}


    </div>
  </div>
  <!-- Argon Scripts -->
  {% endblock %}
  {% block javascripts %}
  {{parent()}}
<script type="text/javascript">
'use strict';
function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
</script>        
{% endblock %}