
  {% extends "AppBundle::layout.html.twig" %}
  {% block title %} Overview {% endblock %} 
  {% block main_content %}
  <!-- Main content -->
  <div class="main-content">
  {% include 'AppBundle:part:navbar.html.twig' ignore missing with {'title': block('title')} %}
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
{{ render(controller( 'AppBundle:App:kpi')) }}
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      {% block corps %}
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Performances individuelles</h3>
                </div>
                <div class="col text-right">
                <a  href="{{ path("commende_performances") }}" class="btn btn-sm btn-primary">
                  Vour toutes les performances
                </a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush" id="summerTable">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">SUP.</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Ressource</th>
                    <th scope="col">Type</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Jours</th>
                    {% for produit in produits|slice(0,4) %}
                    <th scope="col">{{produit.nom}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for performance in performances|slice(0,25) %}
                  <tr>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'user':performance.supid}) }}">
                     {{ performance.supnom|e }}
                   </a>
                    </th>
                    <th scope="row">{{ performance.ville }}</th>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'pointVente':performance.pdvid}) }}">
                     {{ performance.pdvnom|e }}
                     </a>
                    </th> 
                    <th scope="row">{{ performance.type}}</th>    
                    <th scope="row">{{ performance.telephone}}</th>    
                    <th scope="row">{{ performance.nombrejours }}</th>                
                    {% for vente in performance.ventes|slice(0,4) %}
                    <th scope="col">{% if vente.nombre is defined %}{{vente.nombre}}{% else %}0{% endif %}</th>
                    {% endfor %}
                  </tr>
                   {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="mb-0">Superviseurs</h2>
                </div>
                <div class="col text-right">
                  <a href="#" class="btn btn-sm btn-primary">Exporter les pointages</a>
                </div>                
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">BA</th>
                  </tr>
                </thead>
                <tbody>
                   {% for item in workedSuperviseur %}
                  <tr>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'user':item.id}) }}">
                       {{ item.nom|e }}</a>
                    </th>
                    <td>
                      {{ item.pdvnumber}}
                    </td>                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="card shadow mt-3">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Comptes rendus</h3>
                </div>
                  <div class="col text-right">
                  <a href="{{ path("commendes_list") }}" class="btn btn-sm btn-primary">Consulter les rapports</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Insidents</th>
                    <th scope="col">Nombre</th>
                  </tr>
                </thead>
                <tbody>
                   {% for item in rapports %}
                  <tr>
                    <th scope="row">
                   <a href="{{ path('commendes_list_insident',{'insident':item.typeInsident}) }}"> {{ item.typeInsident|e }}</a>
                    </th>
                    <td>
                      {{ item.nombre }}
                    </td>                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>            
          </div>

          <div class="card shadow mt-3">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Les indicateurs</h3>
                </div>
                  <div class="col text-right">

                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">KPI</th>
                    <th scope="col">Nombre</th>
                  </tr>
                </thead>
                <tbody>
                   {% for item in produits %}
                  <tr>
                    <th scope="row">
                   <a href="#"> {{ item.nom|e }}</a>
                    </th>
                    <td>
                      {{ item.nombre }}
                    </td>                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>            
          </div>
        </div>
      </div>

    {% endblock %}

    </div>
  </div>
       <br><br>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="#" class="font-weight-bold ml-1" target="_blank">LPM Consulting</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="#" class="nav-link" target="_blank">Digital reporting tools</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts --> 
  <!-- Argon Scripts -->
  {% endblock %}
{% block javascripts %}
  {{parent()}}
{% endblock %}