
   {% extends "AppBundle::layout.html.twig" %}
   {% block title %}Overview {% endblock %} 
   {% block main_content %}
  <!-- Main content -->
  <div class="main-content">
  {% include 'AppBundle:part:navbar.html.twig' %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
{{ render(controller( 'AppBundle:App:kpi')) }}

        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      {% block corps %}
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Aperçu des performances des field soldiers</h3>
                </div>
                <div class="col text-right">
                  <a href="{{ path("commende_performances") }}" class="btn btn-sm btn-primary">Afficher tout</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Field Soldiers</th>
                    <th scope="col">Nombre de jour</th>
                    <th scope="col">Souscriptions</th>
                    <th scope="col">Progression</th>
                    <th scope="col">GAP</th>
                  </tr>
                </thead>
                {% set dayTarget=6 %}
                <tbody>
                  {% for user in workedDays %}
                  <tr>
                    <th scope="row">
                     {{ user.nom|e }}
                    </th>
                    <td>
                      {{ user.nombrejours }}
                    </td>
                    <td>
                      {{ user.nombre }}
                    </td>
                    <td>
                      {% if (user.nombre*100/(user.nombrejours*dayTarget))<100 %}
                      <i class="fas fa-arrow-down text-danger mr-3"></i>
                    {% else %}
                      <i class="fas fa-arrow-up text-success mr-3"></i>
                    {% endif %}
                      {{ (user.nombre*100/(user.nombrejours*dayTarget))|number_format(0, ',', '.') }}%
                    </td>
                    <td>
                    {% if (user.nombre*100/(user.nombrejours*dayTarget))<100 %}
                      
                    {% else %}
                      +
                    {% endif %}
                      {{ (user.nombre-(user.nombrejours*dayTarget))}}
                    </td>                    
                  </tr
                   {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="mb-0">Performances des superviseurs</h2>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Field Soldiers</th>
                    <th scope="col">Souscriptions</th>

                  </tr>
                </thead>
                {% set total=0 %}
                  {% for item in workedSuperviseur %}
                     {% set total=total+item.nombre %}
                  {% endfor %}
                <tbody>
                   {% for item in workedSuperviseur %}
                  <tr>
                    <th scope="row">
                       {{ item.nom|e }}
                    </th>
                    <td>
                      {{ item.nombrefs }}
                    </td>
                    <td>
                      {{ item.nombre }}
                    </td>                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Evolution</h6>
                  <h2 class="text-white mb-0">Souscriptions et du chiffre d'affaire</h2>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[{% for item in countAndCashByMonth %} {{item.nombre}}{% if not loop.last %},{% endif %} {% endfor %}]}],"labels": [{% for item in countAndCashByMonth %} "{{item.month}}" {% if not loop.last %},{% endif %}{% endfor %}]}}' data-prefix="" data-suffix="">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Mois</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[{% for item in countAndCashByWeek %} {{item.nombre}} {% if not loop.last %},{% endif %}{% endfor %}]}],"labels": [{% for item in countAndCashByWeek %} "{{item.weekText}}" {% if not loop.last %},{% endif %}{% endfor %}]}}' data-prefix="" data-suffix="">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Semaine</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Déroulement</h3>
                </div>
                  <div class="col text-right">
                  <a href="{{ path("commende_index") }}" class="btn btn-sm btn-primary">Rapports</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Insidents</th>
                    <th scope="col">Nombre</th>
                  </tr>
                </thead>
                <tbody>
                   {% for item in rapports %}
                  <tr>
                    <th scope="row">
                   <a href="{{ path('commendes_list_insident',{'insident':item.typeInsident}) }}"> {{ item.typeInsident|e }}</a>
                    </th>
                    <td>
                      {{ item.nombre }}
                    </td>                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>            
          </div>

          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Par Offre</h3>
                </div>
                  <div class="col text-right">

                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Ofrre</th>
                    <th scope="col">Nombre</th>
                  </tr>
                </thead>
                <tbody>
                   {% for item in produit %}
                  <tr>
                    <th scope="row">
                   <a href="#"> {{ item.nom|e }}</a>
                    </th>
                    <td>
                      {{ item.nombre }}
                    </td>                    
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>            
          </div>

        </div>
      </div>
    {% endblock %}

      <br><br>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="#" class="font-weight-bold ml-1" target="_blank">LPM Consulting</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="#" class="nav-link" target="_blank">Digital reporting tools</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Argon Scripts -->
  {% endblock %}
  {% block javascripts %}
 {{parent()}}
   {% include 'AppBundle::charts.js.twig' %}             
  {% endblock %}