{% extends "AppBundle::index.html.twig" %}
{% block title %}Performances {% endblock %} 
{% block corps %}
       <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Performances individuelles</h3>
                </div>
                <div class="col text-right">
                <a href="{{ path('commende_performances_excel') }}" class="btn btn-sm btn-primary">Exporter les performances</a>
                </div>
              </div>
            </div>  
        <div class="table-responsive">
              <table class="table align-items-center table-flush" id="myTable">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">SUP.</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Ressource</th>
                    <th scope="col">Type</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Jours</th>
                    {% for produit in produits|slice(0,4) %}
                    <th scope="col">{{produit.nom}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for performance in performances %}
                  <tr>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'user':performance.supid}) }}">
                     {{ performance.supnom|e }}
                   </a>
                    </th>
                    <th scope="row">{{ performance.ville }}</th>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'pointVente':performance.pdvid}) }}">
                     {{ performance.pdvnom|e }}
                     </a>
                    </th> 
                    <th scope="row">{{ performance.type}}</th>    
                    <th scope="row">{{ performance.telephone}}</th>    
                    <th scope="row">{{ performance.nombrejours }}</th>                
                    {% for vente in performance.ventes|slice(0,4) %}
                    <th scope="col">{% if vente.nombre is defined %}{{vente.nombre}}{% else %}0{% endif %}</th>
                    {% endfor %}
                  </tr>
                   {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
  {% block javascripts %}
  {{parent()}}       
{% endblock %}