{% extends "AppBundle::index.html.twig" %}
{% block title %}Performances {% endblock %} 
{% block corps %}
       <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Performances individuelles</h3>
                </div>
                <div class="col text-right">
                <button onclick="exportTableToExcel('myTable', 'members-data')" class="btn btn-sm btn-primary">Exporter les performances</button>
                </div>
              </div>
            </div>  
        <div class="table-responsive">
              <table class="table align-items-center table-flush" id="myTable">
                <thead class="thead-light">
                 <tr>
                    <th scope="col">SUP.</th>
                    <th scope="col">BA</th>
                    <th scope="col">PDV</th>
                    <th scope="col">JOURS</th>
                    {% for produit in produits|slice(0,5) %}
                    <th scope="col">{{produit.nom}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for performance in performances %}
                  <tr>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'user':performance.supid}) }}">
                     {{ performance.supnom|e }}
                   </a>
                    </th>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'ressource':performance.baid}) }}">
                     {{ performance.banom|e }}
                     </a>
                    </th>
                    <th scope="row">
                      <a href="{{ path('commendes_list',{'pointVente':performance.pdvid}) }}">
                     {{ performance.pdvnom|e }}
                     </a>
                    </th> 
                    <th scope="row">
                       {{ performance.nombrejours }}
                    </th> 
                    {% for vente in performance.ventes|slice(0,5) %}

                    <th scope="col">{% if vente.nombre is defined %}{{vente.nombre}}{% else %}0{% endif %}</th>
                    {% endfor %}
                  </tr
                   {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
  {% block javascripts %}
  {{parent()}}
<script type="text/javascript">
'use strict';
function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
    // Specify file name
    filename = filename?filename+'.xls':'excel_data.xls';
    
    // Create download link element
    downloadLink = document.createElement("a");
    
    document.body.appendChild(downloadLink);
    
    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
        // Setting the file name
        downloadLink.download = filename;
        
        //triggering the function
        downloadLink.click();
    }
}
</script>        
{% endblock %}