{% extends "AppBundle::index.html.twig" %}

{% block corps %}
       <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Historique des rapports</h3>
            </div>   
        <div class="table-responsive">
    <table class="table align-items-center table-flush" id="myTable">
        <thead class="thead-light">
            <tr>
                <th>Date</th>
                <th>Superviseur</th>
                <th>Field Soldier</th>
                <th>Nombre Souscription</th>
                <th>ID Tablette</th>
                <th>Insident</th>
                <th>C. Rendu</th>
            </tr>
        </thead>
        <tbody>
        {% for commende in commendes %}
            <tr>
                <td>
                    {% if commende.date %}{{ commende.date|date('d/m/Y') }}{% endif %}
                </td>
                <td>
                    {{ commende.user.nom }}
                </td>
                 <td>{{ commende.pointVente.nom }}</td>
                 <td>{{ commende.nombreSouscriptions }} ({{ commende.totalCash }} XAF)</td>
                 <td>{{ commende.pointVente.secteur }}</td>
                <td>
                    {{ commende.typeInsident }}
                </td>
                <td>
                    {{ commende.description }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
  {% block javascripts %}
            
  {% endblock %}