{% extends "AppBundle::index.html.twig" %}

{% block corps %}
       <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Historique des rapports</h3>
            </div>   
        <div class="table-responsive">
    <table class="table align-items-center table-flush" id="myTable">
        <thead class="thead-light">
            <tr>
                <th>Rapport</th>
                <th>Details</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for commende in commendes %}
            <tr>
                <td>
                    <h2>Rapport du {% if commende.date %}{{ commende.date|date('d/m/Y') }}{% endif %}</h2>
                    <p>envoyé par <b>{{ commende.user.nom }}</b></p>
                </td>
                <td><h2> {{ commende.pointVente.nom }}</h2>
                    <p>  <b>{{ commende.nombreSouscriptions }} souscriptions</b></p>
                    <b>{{ commende.totalCash }} XAF</b>
                </td>
                <td><h2>{{ commende.typeInsident }}</h2>
                    <p>{{ commende.description }}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
